# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_BUCKET_NAME=drive-files
MINIO_ENDPOINT=minio:9000

# MongoDB
MONGO_URL=mongodb://mongo:27017
MONGO_DB_NAME=drivedb

# Backend
BACKEND_CORS_ORIGINS=http://localhost:3000
